.styled-table {
    border-collapse:  collapse;
    margin: auto;
    font-size: 0.9em;
    font-family: sans-serif;
    max-width:  1200px !important;
    box-shadow:  0 0 20px rgba(0, 0, 0, 0.15);
}

/*.styled-table thead tr {
    background-color: #009879;
    color:  #ffffff;
    text-align: left;
}*/

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

/*.styled-table tbody tr {
    border-bottom:  1px solid #dddddd;
}*/

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3f3;
}

.styled-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.btn {
    border: none;
    color: #fff;
    padding: 5px 8px;
    text-align: center;
    text-decoration:  none;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    margin:  4px 2px;
    cursor: pointer;
}

.btn-edit {
    background-color: #088cba;
    width: 40px;
    height: 40px;
 }


 .btn-edit:hover {
    background-color: #04516d;
}


 .btn-delete {
     background-color: #f44336;
     width: 40px;
     height: 40px;
 }

 .btn-delete:hover {
    background-color: #99251c;
}

 .btn-view {
     background-color: #e7e7e7e7;
     color: #000;
     width: 40px;
     height: 40px;
 }

 .btn-view:hover {
    background-color: #a7a7a7e7;
}

 .dropdown {
     width: 20%;
     margin: 5px;
 }

 .btn-reset {
     background-color: darkolivegreen;
     color: #000
 }
 .btn-active {
     background-color: #808c4a;
 }
 .btn-inative{
     background-color: #445f61;
     color: #000
 }
 .btn-mui{
     margin: 0px 5px !important
 }